@font-face {font-family:"mario kart";src:url("./src/font-Mario-Kart.woff2") format("woff2")}
html {cursor:none}
html.lost-focus{cursor: unset}
body {margin:0;height:100vh;overflow:hidden;font-family:"mario kart",sans-serif;background:linear-gradient(0deg,#cbe1ff, #6d97c7, #005ec9, #004494);color:white;position:relative}
body:before {content:"";position:absolute;background-image:url(./src/grid.png);background-size:100px;background-position:top;top:0;bottom:0;left:0;right:0;z-index:-1}
cursor {position:fixed;background:url(./src/hand.png);font-size:50px;height:1em;width:1em;background-size:2em;pointer-events:none}
cursor.clic {background-position-x:1em}
h1 {font-size:3.5em;margin-top:2em}
* {user-select:none}
ul {position:absolute;left:0;right:0;top:0;bottom:0;padding:0;list-style:none}
li.active ~ li {opacity:0;transform:translateX(50%);pointer-events:none}
li.active {opacity:1;transform:translateX(0);pointer-events:all}
li {opacity:0;display:flex;transform:translate(-50%);left:0;right:0;top:0;bottom:0;margin:auto;max-width:90%;width:900px;align-items:center;flex-direction:column;position:absolute;pointer-events:none;transition:transform 500ms,opacity 500ms}
#section li.center {justify-content:center;padding-bottom:10em}
li.center h1 {margin:0.5em 0}
.anime-zoom {animation:zoom 600ms infinite alternate}
@keyframes zoom {
    from {transform:scale(1)}
    to {transform:scale(1.1)}
}
.double-text {position:relative;font-weight:normal;letter-spacing:0.108em;white-space:pre;font-size:64px;color:#9cddff}
.double-text span {position:absolute;left:-1%;text-transform:uppercase;color:#0d3d83;letter-spacing:-1px}
credit {position:fixed;bottom:1em;right:2em;color:black;font-size:1.8rem;white-space:pre;pointer-events:none}
.choice #less {transform:scale(-1)}
.choice #less, .choice #more {height:1em;width:1em;display:inline-flex;background-image:url(./src/btn-arrow.png);background-size:1em;padding:1em;background-repeat:no-repeat;background-position:center}
li>.center {flex:0.7;display:flex;align-items:center;justify-content:space-evenly;width:100%}
#level {background:url(./src/level.png);width:1em;height:1em;display:inline-flex;background-size:cover;font-size:3em}
.choice {font-size:4rem;display:flex;align-items:center}
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
nav *{font-size:1.8rem;padding:0.3em 0.8em;border:4px solid #5187dd;border-right-color:#012055;border-bottom-color:#012055;background:#0d4096;outline:4px solid black}
#black-mask:after {background-image:url(./src/back-mask.png);content:"";position:absolute;top:100%;height:1em;background-size:auto 1em;font-size:4rem;width:100%;display:block}
#black-mask {width:100%;z-index:9;top:0;bottom:100%;background:black;position:fixed;transform:translateY(-1em);font-size:4rem;transition:bottom 1s cubic-bezier(0.68, 0.06, 1, 0.78)}
#black-mask.show {bottom:-1em}
#kart {font-size:8rem;background-image:url(./src/player-mario.png);height:1em;width:1em;background-size:1200% auto}
#kart.luigi{background-image:url(./src/player-luigi.png)}
#kart.princess{background-image:url(./src/player-princess.png)}
#kart.toad{background-image:url(./src/player-toad.png)}
#kart.yoshi{background-image:url(./src/player-yoshi.png)}
#kart.bowser{background-image:url(./src/player-bowser.png)}
#kart.donkeykong{background-image:url(./src/player-donkeykong.png)}
#kart.koopatroopa{background-image:url(./src/player-koopatroopa.png)}
.choice-kart {width:3em;font-size:90px}
.choice-kart .player {display:inline-block;background-image:url(./src/list-player.png);width:1em;height:1em;background-size: auto 400%;margin:-5px;position: relative}
.player.mario {background-position:0em 0em}
.player.luigi {background-position:-1em 0em}
.player.princess {background-position:-2em 0em}
.player.yoshi {background-position:-3em 0em}
.player.bowser {background-position:-2em -1em}
.player.donkeykong {background-position:-3em -1em}
.player.toad {background-position:0em -1em}
.player.koopatroopa {background-position: -1em -3em;}
.player.koopatroopa {/* filter: grayscale(1); *//* pointer-events: none; */}
.player.active:after {content:"";background:url('./src/selector.png') no-repeat;display:block;position:absolute;top:-4px;bottom:-1px;left:-4px;right:-1px;background-size:contain}
.player.hover{background-image:url('./src/list-player2.png')}
